.dout{

    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.din{

    height: 80vh;
    width: 80vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 60px;
    border-radius: 15px;

}

.display{

    height: auto;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

}
.cp{
    height: 20px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 16px;
}
.pre{
    position:absolute;
    top: 2px;
    left: 2px;
    border-radius: 6px;
    background-color: aquamarine;
    color: black;
}
@media (max-width :600px) {
    .display{
        display: flex;
        gap: 20px;
        
    }
    .cp{
        height: 50px;
        background-color: yellow;
        color: black;
        font-weight: bolder;
        font-size: 14px;
    }
    .cp:active{

        background-color: green;
        color: white;
    }
   
}